<aside class="w-64 bg-slate-900 text-white sticky top-0 h-screen overflow-y-auto self-start flex flex-col p-5">

  <h1 class="text-2xl font-bold mb-8">
    Employer Panel
  </h1>

  <ul class="space-y-4">
    <li><a href="/dashboard/employeer/home">Dashboard</a></li>
    <li><a href="/employeer/myCompany">Company</a></li>
    <li><a href="/employeer/create/job">Post Job</a></li>
    <li><a href="/employeer/jobs">Jobs</a></li>
    <li><a href="/employeer/applicants">Applicants</a></li>
    <li><a href="/employeer/deleted/jobs">Deleted Jobs</a></li>
  </ul>
  <!-- Logout -->
  <div class="mt-auto pt-8">
    <a href="/dashboard/logout" class="flex items-center gap-3 px-4 py-3 rounded-xl bg-red-600 hover:bg-red-700 transition duration-300">

      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">

        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 01-2 2H6a2 2 0 01-2-2V7a2 2 0 012-2h5a2 2 0 012 2v1" />
      </svg>

      <span class="font-medium">
        Logout
      </span>

    </a>
  </div>

</aside>