<nav class="bg-white border-b sticky top-0 z-50">

  <div class="max-w-7xl mx-auto px-6">

    <div class="flex justify-between items-center h-16">

      <div class="flex items-center gap-10">

        <h1 class="text-2xl font-bold text-blue-600">
          JobPortal
        </h1>

        <div class="hidden md:flex gap-8">

          <a href="/dashboard/user/home" class="font-medium">
            Home
          </a>


          <a href="/candidate/interviews" class="font-medium">
            Interviews
          </a>

        </div>

      </div>

      <div class="flex items-center gap-6">

        <a href="/candidate/saved/jobs">
          <i class="fa-regular fa-bookmark text-xl"></i>
        </a>

        <a href="/candidate/notifications">
          <i class="fa-regular fa-bell text-xl"></i>
        </a>

        <a href="/candidate/profile">
          <i class="fa-regular fa-user text-xl"></i>
        </a>

        <a href="/dashboard/logout" class="flex items-center gap-2 px-4 py-2 text-red-600 hover:bg-red-50 rounded-xl transition">

          <i class="fa-solid fa-right-from-bracket"></i>
          <span>Logout</span>

        </a>

      </div>

    </div>

  </div>

</nav>